.ant-carousel {
  height: 376px!important;
  width: 668px!important;
}

[nz-carousel-content] {
  width: 900px;
  height: 376px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 750px;
}

.detail-info {
  margin-bottom: 10px;
}
