/*
:host {
  text-align: center;
}
*/
/*整体布局样式*/
.logo {
  width: 120px;
  height: 50px;
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}
