/*
:host {
  text-align: center;
}
*/
/*整体布局样式*/
.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 400px;
}

/* 设置分页在content布局的右下角*/
nz-pagination {

}
