/*
:host {
  text-align: center;
}
*/
/*整体布局样式*/
.logo {
  width: 120px;
  height: 50px;
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

/**
内嵌图片不可选中css
 */
.pic-none-selected {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
