/*
:host {
  text-align: center;
}
*/
/*整体布局样式*/
.logo {
  width: 120px;
  height: 50px;
  float: left;
}

[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-content {
  padding: 0 50px;
}

nz-footer {
  text-align: center;
}

.foot {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background: #fff;
  border-top: 1px solid #e8ebed;
  color: #999;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
}
