<nz-layout>
  <nz-header>
    <div class="logo">
      <!-- style 设置了图片不可点击 -->
      <img src="../assets/logo.png" height="50px" [routerLink]="['../home']" [queryParams]="{type: 'template'}" style="pointer-events: none;"/>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" [nzSelectable]="true" style="margin-left: 20%; border: 0px">
      <li nz-menu-item [routerLink]="['../home']" [queryParams]="{type: 'template'}">PPT模板</li>
      <li nz-menu-item [routerLink]="['../home']" [queryParams]="{type: 'background'}">PPT背景</li>
        <!--<a href="#" onclick='toLogin()'>
          <img src="../assets/qq_login.jpg">
        </a>-->

      <li style="float: right" [routerLink]="['../login']">登录/注册</li>&nbsp;&nbsp;
    </ul>
  </nz-header>

  <!--<nz-content>

  </nz-content>-->
  <router-outlet></router-outlet>

  <nz-footer nz-menu nzTheme="dark" style="line-height: 50px">
    <div>
      <!--<span *ngFor="let bar of footerNavBar" style="margin-right: 20px">{{bar}}</span>-->
      <a *ngFor="let bar of footerNavBar" style="margin-right: 20px;display: inline; text-decoration: none;color: #a6adb4" (click)="showPromptPage(bar)">{{bar}}</a>
      <br/>
      <span>Copyright © 2020 91ppt.club All Rights Reserved. <a target="_blank" href="http://beian.miit.gov.cn">鲁ICP备2020037796号</a></span>
    </div>
    <nz-back-top></nz-back-top>
  </nz-footer>
</nz-layout>
