<nz-layout>
  <nz-header>
    <div class="logo">
      <!-- style 设置了图片不可点击 -->
      <img src="../assets/logo.png" height="50px" [routerLink]="['../home']" [queryParams]="{source: 'template'}" style="pointer-events: none;"/>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" [nzSelectable]="true" style="margin-left: 15%">
      <li nz-menu-item [routerLink]="['../home']" [queryParams]="{source: 'template'}">PPT模板</li>
      <!--<li nz-menu-item [routerLink]="['../home']" [queryParams]="{source: 'background'}" >PPT背景</li>-->
      <!--<span (click)="showModal()" style="float: right">登录/注册</span>-->&nbsp;&nbsp;
    </ul>
    <!--<div>
      <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent">
        <ng-template #modalTitle>
          登录/注册
        </ng-template>

        <ng-template #modalContent>
          <div align="center">
            <p>二维码</p>
              <img width="20px" height="20px" src="../assets/weixindenglu.svg">
              微信扫码
          </div>
        </ng-template>

        &lt;!&ndash;<ng-template #modalFooter>
          &lt;!&ndash;<span>Modal Footer: </span>&ndash;&gt;
          <button nz-button nzType="default" (click)="handleCancel()">Custom Callback</button>
          <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Custom Submit</button>
        </ng-template>&ndash;&gt;
      </nz-modal>
    </div>-->
  </nz-header>
  <nz-content>
    <!--<nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>-->
    <router-outlet></router-outlet>
  </nz-content>
  <br/>

  <nz-footer nz-menu nzTheme="dark" style="line-height: 50px">
    <div>
      <!--<span *ngFor="let bar of footerNavBar" style="margin-right: 20px">{{bar}}</span>-->
      <a *ngFor="let bar of footerNavBar" style="margin-right: 20px;display: inline; text-decoration: none;color: #a6adb4" (click)="showPromptPage(bar)">{{bar}}</a>
      <br/>
      <span>Copyright © 2020 91ppt.club All Rights Reserved. <a target="_blank" href="http://beian.miit.gov.cn">鲁ICP备2020037796号</a></span>
    </div>
    <nz-back-top></nz-back-top>
  </nz-footer>
</nz-layout>
