<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzTheme="dark" nzMode="horizontal" [nzSelectable]="true">
      <li nz-menu-item [routerLink]="['../home']" [queryParams]="{source: 'template'}">PPT模板</li>
      <li nz-menu-item [routerLink]="['../home']" [queryParams]="{source: 'background'}">PPT背景</li>
    </ul>
  </nz-header>
  <nz-content>
    <!--<nz-breadcrumb>
      <nz-breadcrumb-item>Home</nz-breadcrumb-item>
      <nz-breadcrumb-item>List</nz-breadcrumb-item>
      <nz-breadcrumb-item>App</nz-breadcrumb-item>
    </nz-breadcrumb>-->
    <router-outlet></router-outlet>
  </nz-content>
  <nz-divider style="color: red"></nz-divider>
  <nz-footer nz-menu nzTheme="dark">
    <div>
      <!--<span *ngFor="let bar of footerNavBar" style="margin-right: 20px">{{bar}}</span>-->
      <a *ngFor="let bar of footerNavBar" style="margin-right: 20px;display: inline; text-decoration: none;color: #a6adb4" (click)="showPromptPage(bar)">{{bar}}</a>
    </div>
    <div>Copyright © 2020 9ishare.top All Rights Reserved.</div>
    <nz-back-top></nz-back-top>
  </nz-footer>
</nz-layout>
