:host {
  text-align: center;
}

nz-content {
  background: rgba(16, 142, 233, 1);
  color: #fff;
  min-height: 30px;
  line-height: 30px;
}

nz-layout:last-child {
  margin: 0;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}
