<nz-layout>
  <nz-content style="background: url(../../../assets/banner/banner_2.jpg) rgb(0,157,254) center top no-repeat;
  height: 70%;min-height: 520px">
    <!--<div style="background-color: white;width: 20%; height: 50%;float: right">-->
    <div style="background-color: white;
                width: 460px; height: 470px;
                position: absolute; left: 65%;top: 80px;border-radius: 10px;">
      <h4 style="height: 70px">快捷登陆</h4>
      <div style="height: 270px">
      <div style="display: inline-block; width: 140px; margin-top: 50px">
      <img src="../../../assets/qq/qq_2.png" style="width: 100px;height: 100px" (click)="toLogin('QQ')">
      <h4 (click)="toLogin('QQ')">QQ登陆</h4>
      </div>
      <div style="display: inline-block; width: 150px">
      <img src="../../../assets/weChat/weChat_1.png" style="width: 100px;height: 100px" (click)="toLogin('WeChart')">
      <h4 (click)="toLogin('WeChart')">微信登陆</h4>
      </div>
      </div>
      <img src="../../../assets/agreementConfirmation/agreementConfirmation.png" style="width: 20px;height: 15px; padding-right: 5px" (click)="agreementConfirmation()">
      <h5 style="display: inline-block">勾选代表你同意<a href="#">《注册声明》</a> <a href="#">《版权声明》</a> <a href="#">《隐私声明》</a></h5>
    </div>
  </nz-content>
</nz-layout>
