
    <div class="inner-content">
      <!-- 资源展示区域 -->
      <div nz-row nzJustify="center" style="width: 90%; margin: 0 auto">
        <div nz-col [nzSpan]="6" *ngFor="let resource of pageList">
          <div class="grid-config">
            <nz-card nzHoverable style="width:240px; margin-bottom: 10px" [nzCover]="picture">
              <nz-card-meta nzTitle="{{resource.name}}" nzDescription={{resource.description}}></nz-card-meta>
            </nz-card>
            <ng-template #picture>
              <img alt="example" src="{{resourceURL}}{{resource.name}}" (click)=openDetailPage(resource.id) />
            </ng-template>
          </div>
        </div>
      </div>
      <!-- 分页组件 -->
      <nz-pagination [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" [nzTotal]="totalCount"
                     (nzPageIndexChange)="searchData()"></nz-pagination>
    </div>
